html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
  font-weight: bolder;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%; /* Adjust based on the number of slides */
  height: 100vh;
}

.slide {
  flex: 1 0 100%;
  height: 100vh;
  position: relative;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire background */
  object-position: center; /* Center the image within the container */
}

header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  font-weight: 450;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 0;
  text-align: center;
  line-height: 1.2;
  max-width: 90vw;
  white-space: nowrap;
}

button {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#prev {
  left: 10rem;
}

#next {
  right: 10rem;
}

/* Icon styling */
.icon {
  width: 24px;
  height: 24px;
  stroke: white;
  stroke-width: 2;
  fill: none;
  transition: transform 0.5s ease;
}

#prev:hover .icon {
  animation: rotate-out 0.5s forwards;
}

#next:hover .icon {
  animation: rotate-in 0.5s forwards;
}

#prev .icon {
  animation: rotate-in 0.5s forwards;
}

#next .icon {
  animation: rotate-out 0.5s forwards;
}

@keyframes rotate-out {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
